@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 220, 16%, 96%;
        --foreground: 222, 20%, 16%;

        --muted: 215, 14%, 80%;
        --muted-foreground: 222, 20%, 16%;

        --popover: 220, 16%, 96%;
        --popover-foreground: 222, 20%, 16%;

        --border: 222, 20%, 70%;
        --input: 222, 20%, 70%;

        --card: 220, 16%, 96%;
        --card-foreground: 222, 20%, 16%;

        --primary: 222, 20%, 70%;
        --primary-foreground: 220, 16%, 96%;

        --secondary: 215, 14%, 80%;
        --secondary-foreground: 222, 20%, 16%;

        --accent: 215, 14%, 80%;
        --accent-foreground: 222, 20%, 16%;

        --destructive: 0, 80%, 50%;
        --destructive-foreground: 222, 20%, 16%;

        --ring: 222, 20%, 70%;
    }

    .dark {
        --background: 215, 28%, 7%;
        --foreground: 210, 29%, 93%;

        --muted: 215, 16%, 15%;
        --muted-foreground: 210, 9%, 58%;

        --popover: 215, 21%, 11%;
        --popover-foreground: 210, 29%, 93%;

        --border: 215, 13%, 21%;
        --input: 215, 13%, 21%;

        --card: 215, 21%, 11%;
        --card-foreground: 210, 29%, 93%;

        --primary: 212, 100%, 67%;
        --primary-foreground: 215, 28%, 7%;

        --secondary: 215, 16%, 15%;
        --secondary-foreground: 210, 29%, 93%;

        --accent: 215, 16%, 15%;
        --accent-foreground: 210, 29%, 93%;

        --destructive: 0, 80%, 50%;
        --destructive-foreground: 210, 29%, 93%;

        --ring: 215, 13%, 21%;
    }
}

@layer base {
    html {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    body {
        @apply bg-background text-foreground;
        width: 100vw;
        position: relative;
    }
}
